# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [15]:
print("hello" ,98 ,True ,98.5)

hello 98 True 98.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [16]:
print("hello" ,98 ,True ,98.5 ,sep='-')

hello-98-True-98.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [17]:
print("hello", end=' ')
print(98, end=' ')
print(True, end=' ')
print(98.5)

hello 98 True 98.5

4) Can a python print function take no value to print???

In [18]:
print("")

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [19]:
name = "Mr.Ahmed"
age = 30
profession = "lawyer"
education = "bachelors"
graduation_year = 2005
company_name = "The himalya associates"
company_location = "karachi"
joining_year = 2015
height_Ft = 5.10
weight_g = 70600
monthly_income = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [20]:
current_year = 2024
current_year - graduation_year

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [21]:
current_year - joining_year

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [22]:
dollar = 277
monthly_income_dollars = monthly_income / dollar

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [23]:
type(monthly_income_dollars)
monthly_income_dollars = monthly_income // dollar
print(monthly_income_dollars)

722

In [24]:
# 10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.
type(weight_g)
weight = weight_g // 1000
print(weight,"kg")

70 kg

In [25]:
#11) print the year of birth of Mr. Ahmed.
year_of_birth = age - current_year 
print(year_of_birth)

-1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [26]:
100 % 6 
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2
# Total amount

4

Saylani Mass IT 
Name   : Nasir Hussain
Course : AI and DS
Days   : Tuesday and Thursday
ID     : AI - 332909

In [5]:
name = "Minhas Shakeel"
course = "Artificial Intelligence and Data Science"
days = "Tuesday and Thursday"
student_id = "AI-333369"
timing = "5:00 PM To 7:00 PM"

card_content = f"""
Name   : {name}
Course : {course}
Days   : {days}
Timing : {timing}
ID     : {student_id}
"""
card_panel = ("Saylani Mass IT")

print(card_panel)
print(card_content)

Saylani Mass IT

Name   : Minhas Shakeel
Course : Artificial Intelligence and Data Science
Days   : Tuesday and Thursday
Timing : 5:00 PM To 7:00 PM
ID     : AI-333369